<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>unitTest</directory>
        </testsuite>
    </testsuites>

    <!-- Adăugăm configurarea pentru acoperirea codului -->
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <!-- Configurații pentru logging -->
    <logging>
        <!-- Make sure to use absolute path for the coverage report -->
        <log type="coverage-html" target="${working_dir}/coverage-report" />
    </logging>
</phpunit>
