<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>unitTest</directory>
        </testsuite>
    </testsuites>

    <!-- Add coverage configuration -->
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <!-- Exclude files or directories from coverage report if needed -->
        <!--
        <exclude>
            <directory>src/ExcludeThisDirectory</directory>
        </exclude>
        -->
    </coverage>

</phpunit>
