<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>unitTest</directory> <!-- Adjust if your test directory is different -->
        </testsuite>
    </testsuites>

    <!-- Add coverage configuration -->
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory> <!-- Your source directory -->
        </include>
        <!-- Exclude files or directories from coverage report if needed -->
        <!--<exclude>
            <directory>src/ExcludeThisDirectory</directory>
        </exclude>-->
    </coverage>

</phpunit>
